@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("ttf");
}

body {
  font-family: 'Roboto';
  margin: 0;
  background: #3c8cfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c8cfb), to(#a0f368));
  background: linear-gradient(180deg, #3c8cfb 0%, #a0f368 100%);
  height: 100vh;
  color: #295659;
}

.container {
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h3 {
  text-align: center;
}

.page {
  display: none;
}

.container_item {
  text-align: center;
  margin: 10px 0px;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  width: 80%;
  background: #d91c5b;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 16px;
  margin-top: 10px;
}

#repeat {
  width: 500px;
}

.loader {
  position: absolute;
  /* width: 100%; */
  /* height: 100vh; */
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.text_inp {
  border: none;
  background: none;
  border-bottom: 1px solid black;
}

#c {
  position: absolute;
  top: 50%;
  left: 50%;
}

.s {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  background: #5dcce7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: r5 1s 0s ease-out infinite;
  animation: r5 1s 0s ease-out infinite;
}

@-webkit-keyframes r5 {
  0% {
    -webkit-box-shadow: 0 0 8px 6px rgba(93, 204, 231, 0.5), 0 0 0px 0px transparent, 0 0 0px 0px rgba(93, 204, 231, 0.7);
    box-shadow: 0 0 8px 6px rgba(93, 204, 231, 0.5), 0 0 0px 0px transparent, 0 0 0px 0px rgba(93, 204, 231, 0.7);
  }

  10% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-box-shadow: 0 0 8px 6px rgba(93, 204, 231, 0.5), 0 0 12px 10px transparent, 0 0 12px 14px rgba(93, 204, 231, 0.7);
    box-shadow: 0 0 8px 6px rgba(93, 204, 231, 0.5), 0 0 12px 10px transparent, 0 0 12px 14px rgba(93, 204, 231, 0.7);
  }

  100% {
    -webkit-box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}

@keyframes r5 {
  0% {
    -webkit-box-shadow: 0 0 8px 6px #5dcce7, 0 0 0px 0px transparent, 0 0 0px 0px #5dcce7;
    box-shadow: 0 0 8px 6px #5dcce7, 0 0 0px 0px transparent, 0 0 0px 0px #5dcce7;
  }

  10% {
    -webkit-box-shadow: 0 0 8px 6px #5dcce7, 0 0 12px 10px transparent, 0 0 12px 14px #5dcce7;
    box-shadow: 0 0 8px 6px #5dcce7, 0 0 12px 10px transparent, 0 0 12px 14px #5dcce7;
  }

  100% {
    -webkit-box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  margin: auto;
  min-width: 500px;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */